/* src/index.css */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc; /* Thêm màu nền nhẹ nhàng cho body */
  color: #1e293b; /* Đặt màu chữ mặc định */
}